# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Database
*.sqlite3
*.db

# LangChain / Vectorstore
vectorstore/

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store

# IDEs
.vscode/
.idea/
.gemini/
